.beneficiary-field {
  display: flex;
  align-items: flex-end;
  margin-top: $offset-m;

  .select-field-wrap,
  .text-field-wrapper {
    margin-right: $offset-m-plus;
  }

  &-name {
    width: 240px;
  }

  &-date {
    width: 176px;
  }

  &-ssn {
    width: 80px;
  }

  &-description {
    width: 112px;
  }

  &-relationship {
    width: 112px;
  }

  &-percent {
    width: 64px;
    margin-right: 0!important; // Safety checked
  }

  &-controls {
    display: flex;
    width: 72px;
  }

  .save-beneficiary {
    display: flex;
    align-items: center;
    justify-content: center;
    @include sq(36px);
    cursor: pointer;

    i {
      color: $primary-green-clr;
      font-size: 20px;
    }
  }

  .drop-beneficiary {
    display: flex;
    align-items: center;
    justify-content: center;
    @include sq(36px);
    cursor: pointer;

    i {
      color: $primary-red-clr;
      font-size: 20px;
    }
  }

  @include r-max($break-ld) {
    flex-wrap: wrap;
    max-width: 500px;

    &-name {
      width: 225px;
    }

    .text-field-wrapper,
    .select-field-wrapper {
      margin-top: $offset-m;
    }
  }
}
