.select-field {
  position: relative;
  width: 100%;
  cursor: pointer;

  &-wrap {

  }

  &-label {
    display: block;
    @include font(text-s);
  }

  .vs {
    &__dropdown-toggle {
      position: relative;
    }

    &__actions {
      position: absolute;
      right: 10px;
      top: calc(50% - 11px);

      &:after {
        font-family: unicons-line;
        content: "\eb3a";
        font-size: 22px;
        color: $dark-clr;
      }
    }

    &__open-indicator,
    &__clear {
      display: none;
    }

    &__search {
      width: 100%;
      height: 36px;
      margin-top: 3px;
      padding: 0 35px 0 12px;
      @include font(text-l);
      color: $dark-clr;
      background-color: $grey-light-clr;
      border-radius: 5px;
      border: none;
      -webkit-appearance: none;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }
    }

    &__selected {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      padding: 0 40px 0 12px;
      line-height: 36px;
      cursor: pointer;
    }

    &__dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      width: 100%;
      background-color: $grey-light-clr;
      border-radius: 0 0 5px 5px;
    }

    &__dropdown-option {
      padding: 6px 12px;

      &:hover {
        background-color: $grey-lighten-clr;
      }
    }
  }

  &.vs--open {
    .vs__search {
      border-radius: 5px 5px 0 0;
    }
  }
}
